*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.body{
    background:rgb(190, 160, 121);
    color:black;
    font-family:'sans-serif';
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 92% 50%;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(56, 53, 53, 0.7), rgba(56, 53, 53, 0.7)),url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    width: 85%;
    margin: auto;
    padding: 2% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    flex: 1;
    text-align: right;
    position: relative;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding: 8px 12px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.nav-links ul li::after{ 
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: relative;
    display: block;
    margin: auto;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav img{
    width: 150px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    line-height: 25px; 
    color: #fff;
}
.hero-btn{
     display: inline-block;
     text-decoration: none;
     color: #fff;
     border: 1px solid #fff;
     padding: 12px 34px;
     font-size: 13px;
     background: transparent;
     position: relative;
     cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #009688;
    background: #009688;
    transition: 1s;
}
@media (max-width: 1024px) and (min-width: 960px){
    .text-box h1{
        font-size: 20px;
    }
}
/*-------------------------About---------------------*/
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
   
    }
.about h1{
    font-size: 36px;
    font-weight: 600;
}
.about p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
/*---------------------------Our Menu page------------------------------*/
.products{
    min-height: 100vh;
    padding: 7rem 10%;
    position: relative;
    overflow: hidden;
    background:rgb(190, 160, 121);
    color:black;
    font-family:'sans-serif';
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 92% 50%;
}
.products-col img{
    width: 50%;

}
.products-col{
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}
.products-col.img{
    flex: 1;
}
.brand{
    flex: 1;
}
.products-col .img{
    display: block;
    justify-content: flex-end;
}
.img{
    width: 150%;
    height: auto;
    object-fit: cover;
    object-position: 60% 80%;
}
/*--------------------Delivery options------------------*/
.delivery{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;;
    min-height: 100vh;
    text-align: center;
    padding: 7rem 10%;
    position: relative; 
    overflow: hidden; 
    background:rgb(190, 160, 121);
    color:black;
    font-family:'sans-serif';
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 92% 50%; 
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.delivery-col{
    flex-basis: 31%;
    background: antiquewhite;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.delivery-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 960px){
    .row{
       flex-direction: column;
    }
}

  
/*-------------------contact--------------------*/
.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/contact\ us.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    color:black;
    font-family:'sans-serif';
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 92% 50%; 
   

}
.contact h1{
    color: black;
    margin-bottom: 40px;
    padding: 0;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

@media(max-width: 1024px) and (min-width: 960px){
    .contact h1{
        font-size: 24px;
    }
}
/*-------------------------Footer--------------------*/
form {
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width:80%;
    max-width:500px;
    border-radius:10px    
}
form h3{
    color: black;
    font-weight:800;
    margin-bottom: 20px;
}
form input, form textarea{
    border:0;
    margin:10px 0;
    padding:20px;
    outline:none;
    background: #f5f5f5;
    font-size:16px;
}
form button{
    padding: 15px;
    background:#0e0d0d;
    color:#fff;
    font-size:18px;
    border:0;
    outline:none;
    cursor:pointer;
    width: 20px auto 0;
    border-radius:30px;
}
 .footer{
    width: 100%;
    text-align: center;
    padding: 30ox 0;
    color:black;
    font-family:'sans-serif';
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 92% 50%; 
}
.footer p{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons.fa{
    color:rgba(247, 244, 244, 0.7);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}



